.about-section {
    background: transparent;
    display: grid;
    position: relative;
    .about-section__waves {
        grid-area: 1/1;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }
    .container-fluid {
        grid-area: 1/1;
        .row {
            .col-md-6 {
                background: transparent !important;
                position: relative;
                z-index: 1;
                .about-img {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}